<tr>
	<td><%= question.description %></td>
  <td class="pie-chart" 
      id=<%= question.identifier %>
      data-correct=<%= question.correct_attempts_percent %>
      data-semicorrect=<%= question.semi_correct_attempts_percent %>>
  </td>
</tr>