<div class="center hero-unit">
  <h1>Listing Questions</h1>
</div>

<div class=table table-striped>
  <table>
    <tr>
      <th>Description</th>
      <th>Overall Analysis</th>
    </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.description %></td>
      <td></td>
    </tr>
  <% end %>
  </table>
</div>