<div class="center hero-unit">
  <h1>Scape Data Collection</h1>
</div>

<div class="teachers-table table table-striped">
  <table>
    <thead>
      <tr>
        <th>Teachers</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'teachers', :collection => @teachers, :as => :teacher %>
    </tbody> 
  </table>  
</div>

<div class="users-table table table-striped">
  <table>
    <thead>
      <tr>
        <th>Students</th>
      </tr>
    </thead>
    <tbody id="users">
      <%= render @users %>
      
    </tbody> 
  </table>  
</div>


<div class="quizzes-table table table-striped">
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Selected Answer</th>
        <th>Correct Answer</th>
        <th>Points</th>
      </tr>
    </thead>

    <tbody id="quizzes">
      <%= render :partial => 'user_exams', :collection => @exams, :as => :exam %>
    </tbody>  
  </table>
</div>
