<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>School Name</th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.name %></td>
    <td><%= teacher.school %></td>
  </tr>
<% end %>
</table>