// Place all the styles related to the downloads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to {
  display: inline;
}

.button_to div {
  display: inline;
}

.download-text { 
	float: left;
	text-align: center;
	width: 50%;
	margin-top: 1%;
}

.download-button { 
  margin-left: 10px; 
}