<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Scape", '#', :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Downloads", downloads_path %></li>
          <li><%= link_to "Graphs", questions_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
